body {
	margin: 0px;
	padding: 0;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12px;
	color: #000000;
}

/* Page */

#page {
	padding-top: 1px;
	overflow: auto;
	width: 80%;
	margin: 0px auto;
	/*background: #FFFFFF url(images/body-bg.png) repeat;*/
}

/* LOGO */

#logo {
	width: 100%;
	min-height: 100px;
	padding-top: 1%;
	text-align: center;
	background: #84D155 url(images/logo.jpg) no-repeat center bottom;
}

#logo h1 {
	font-size: 40px;
	text-transform: capitalize;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	text-transform: capitalize;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Login */

#id01{
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	color: #000000;
	padding-left: 5px;
	float: left;
	width: 95%;
	min-height: 25px;
}

#id02, #id03, #id04 {
	text-align: center;
	padding-top: 15px;
	padding-left: 4px;
	float: left;
	width: 95%;
	min-height: 25px;
}

#id05 {
	text-align: center;
	padding-top: 15px;
	padding-left: 4px;
	float: left;
	width: 95%;
	min-height: 25px;
	padding-bottom: 25px;
}

#input1, #input2, #location, #item {
	width: 100%;
	min-height: 25px;
	padding: 2px 0 0 8px;
	border: 2px solid #DADADA;
	border-radius: 15px;
	color: #000000;
}

#login {
	min-width: 84px;
	min-height: 26px;
	margin-left: 0px;
	background: url(images/signin.png) no-repeat left top;
	border: none;
	color: transparent;
}

#signup {
	min-width: 84px;
	min-height: 26px;
	margin-left: 0px;
	background: url(images/signup.png) no-repeat left top;
	border: none;
	color: transparent;
}

#searchYelp {
	min-width: 126px;
	min-height: 26px;
	margin-left: auto;
	margin-right: auto;
	background: url(images/search.png) no-repeat left top;
	border: none;
	color: transparent;
}

#previous  {
	min-width: 126px;
	min-height: 26px;
	margin-left: auto;
	margin-right: auto;
	background: url(images/previous.png) no-repeat left top;
	border: none;
	color: transparent;
}

/* Content */

#place01, #place02, #place03, #place04, #place05, #place06, #place07, #place08 {
	float: left;
	width: 100%;
}

#map-google {
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
	width: 100%;
}

/* Catagory */

.categories {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	margin-top: 0;
	text-align: justify;
	font-size: 14px;
	color: #888888;
	padding-left: 30px;
	margin-left: 2px;
}

/* Name */

.name01 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-left: 2px;
	font-weight: normal;
	font-size: 18px;
	color: #84D155;
	text-align: justify;
	min-height: 28px;
	background: url(images/red-dot.png) no-repeat left 7px;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.name02 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-left: 2px;
	font-weight: normal;
	font-size: 18px;
	color: #84D155;
	text-align: justify;
	min-height: 28px;
	background: url(images/orange-dot.png) no-repeat left 7px;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.name03 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-left: 2px;
	font-weight: normal;
	font-size: 18px;
	color: #84D155;
	text-align: justify;
	min-height: 28px;
	background: url(images/yellow-dot.png) no-repeat left 7px;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.name04 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-left: 2px;
	font-weight: normal;
	font-size: 18px;
	color: #84D155;
	text-align: justify;
	min-height: 28px;
	background: url(images/green-dot.png) no-repeat left 7px;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.name05 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-left: 2px;
	font-weight: normal;
	font-size: 18px;
	color: #84D155;
	text-align: justify;
	min-height: 28px;
	background: url(images/ltblue-dot.png) no-repeat left 7px;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.name06 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-left: 2px;
	font-weight: normal;
	font-size: 18px;
	color: #84D155;
	text-align: justify;
	min-height: 28px;
	background: url(images/blue-dot.png) no-repeat left 7px;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.name07 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-left: 2px;
	font-weight: normal;
	font-size: 18px;
	color: #84D155;
	text-align: justify;
	min-height: 28px;
	background: url(images/purple-dot.png) no-repeat left 7px;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.name08 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-left: 2px;
	font-weight: normal;
	font-size: 18px;
	color: #84D155;
	text-align: justify;
	min-height: 28px;
	background: url(images/pink-dot.png) no-repeat left 7px;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Footer */

#footer {
	overflow: auto;
	font-family: Georgia, serif;
	width: 100%;
	min-height: 100px;
	margin: 0 auto;
	padding-top: 15%;
	text-align: center;
	color: #666666;
	line-height: normal;
	font-size: 12px;
}