body {
	color: #000000;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0;
}

p {
	color: #888888;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0 auto;
}

/* PAGE */

#page {
	margin: 0px auto;
	overflow: auto;
	padding-top: 1px;
	width: 80%;
}

/* LOGO */

#logo {
	background: #84D155 url(images/logo.jpg) no-repeat center bottom;
	min-height: 100px;
	padding-top: 1%;
	text-align: center;
	width: 100%;
}

#logo h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: xx-large;
	font-weight: normal;
	text-transform: capitalize;
}

#logo a {
	color: #FFFF66;
	text-decoration: none;
}

/* Login */

#id01, #id02, #id03, #id04, #id05, #id06, #id07 {
	float: left;
	min-height: 25px;
	padding-left: 4px;
	width: 95%;
}

#id01{
	color: #000000;	
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	
}

#id02, #id03, #id04, #id05, #id06 {
	padding-top: 15px;
	text-align: center;
}

#id07 {
	padding-bottom: 25px;
	padding-top: 30px;
	width: 85%;
}

#input1, #input2, #location, #item {
	border: 2px solid #DADADA;
	border-radius: 15px;
	color: #000000;
	min-height: 25px;
	padding: 2px auto;
	padding-left: 8px;
	width: 98%;
}

#login, #signup, #searchYelp, #previous, #history {
	width: 125px;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    border: none;
}

#login, #previous {
    background: #00AAE0;
    background-image: -webkit-linear-gradient(top, #00AAE0, #049bc9);
    background-image: -moz-linear-gradient(top, #00AAE0, #049bc9);
    background-image: -ms-linear-gradient(top, #00AAE0, #049bc9);
    background-image: -o-linear-gradient(top, #00AAE0, #049bc9);
    background-image: linear-gradient(to bottom, #00AAE0, #049bc9);
}

#signup, #searchYelp {
    background: #21C1ED;
    background-image: -webkit-linear-gradient(top, #21C1ED, #08a7cf);
    background-image: -moz-linear-gradient(top, #21C1ED, #08a7cf);
    background-image: -ms-linear-gradient(top, #21C1ED, #08a7cf);
    background-image: -o-linear-gradient(top, #21C1ED, #08a7cf);
    background-image: linear-gradient(to bottom, #21C1ED, #08a7cf);
}

#history {
    background: #0081C0;
    background-image: -webkit-linear-gradient(top, #0081C0, #006fa3);
    background-image: -moz-linear-gradient(top, #0081C0, #006fa3);
    background-image: -ms-linear-gradient(top, #0081C0, #006fa3);
    background-image: -o-linear-gradient(top, #0081C0, #006fa3);
    background-image: linear-gradient(to bottom, #0081C0, #006fa3);  
}

/* Content */

#place00, #place01, #place02, #place03, #place04, #place05, #place06, #place07, #place08, #map-google {
	float: left;
	width: 100%;
}

#place01 {
	padding-top: 30px;
}

#map-google {
	padding-bottom: 20px;
	padding-top: 20px;
}

/* Catagory */

.categories {
	color: #888888;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-left: 2px;
	margin-top: 0;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

/* Name */

.name01, .name02, .name03, .name04, .name05, .name06, .name07, .name08 {
	color: #84D155;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-left: 2px;
	min-height: 28px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	text-align: justify;
}

.name01 {
	background: url(images/red-dot.png) no-repeat left 7px;
}

.name02 {
	background: url(images/orange-dot.png) no-repeat left 7px;
}

.name03 {
	background: url(images/yellow-dot.png) no-repeat left 7px;
}

.name04 {
	background: url(images/green-dot.png) no-repeat left 7px;
}

.name05 {
	background: url(images/ltblue-dot.png) no-repeat left 7px;
}

.name06 {;
	background: url(images/blue-dot.png) no-repeat left 7px;
}

.name07 {
	background: url(images/purple-dot.png) no-repeat left 7px;
}

.name08 {
	background: url(images/pink-dot.png) no-repeat left 7px;
}

/* Footer */

#footer {
	color: #666666;
	float: left;
	font-family: Georgia, serif;
	font-size: 12px;
	line-height: normal;
	margin: 0 auto;
	min-height: 100px;
	overflow: auto;
	padding-top: 10%;
	text-align: center;
	width: 99%;
}