<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.kangran.tao"
        version   = "1.0.13">

    <name>TD Search Engine APP</name>

    <description>
        TD's Mobile APP for Search Engine
    </description>

    <author href="http://nyu.edu" email="td1124@nyu.edu">
        Tao Dong and Kangran Miao
    </author>

    <preference name="phonegap-version" value="3.0.0" /> 

    <gap:plugin name="org.apache.cordova.core.inappbrowser" />
</widget>
